body {
    background-color: darkslategrey;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.content img {
    width: 100%;
    height: auto;
}

.imgParent {
    max-width: 320px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    border: solid 1px;
    background-color: white;
}

.red {
    background-color: red;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button {
    height: 50px;
    width:  50px;
    border: solid 1px;
}

.blackButton {
    background-color: black;
}

.greyButton {
    background-color: grey;
}

.beigeButton {
    background-color: beige;
}

.pinkButton {
    background-color: pink;
}

.redButton {
    background-color: red;
}